<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moosecat.block12" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <name>Bloq</name>
    <description>
       A challenging puzzle game for the visual thinker. Many have tried, but few have made it to level 12...
    </description>
    <author email="richardsjustind@gmail.com" href="github.com/magentanova">
      moosecat 
    </author>
    <platform name="ios">
        <icon height="40" src="apple-icon/ios/AppIcon.appiconset/Icon-App-20x20@2x.png" width="40" />
        <icon height="60" src="apple-icon/ios/AppIcon.appiconset/Icon-App-20x20@3x.png" width="60" />
        <icon height="29" src="apple-icon/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="apple-icon/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" src="apple-icon/ios/AppIcon.appiconset/Icon-App-29x29@3x.png" width="87" />
        <icon height="40" src="apple-icon/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="apple-icon/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" />
        <icon height="120" src="apple-icon/ios/AppIcon.appiconset/Icon-App-40x40@3x.png" width="120" />
        <icon height="57" src="apple-icon/ios/AppIcon.appiconset/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="apple-icon/ios/AppIcon.appiconset/Icon-App-57x57@2x.png" width="114" />
        <icon height="60" src="apple-icon/ios/AppIcon.appiconset/Icon-App-60x60@1x.png" width="60" />
        <icon height="120" src="apple-icon/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" />
        <icon height="180" src="apple-icon/ios/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" />
        <icon height="76" src="apple-icon/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" />
        <icon height="20" src="apple-icon/ios/AppIcon.appiconset/Icon-App-20x20@1x.png" width="20" />
        <icon height="40" src="apple-icon/ios/AppIcon.appiconset/Icon-App-20x20@2x.png" width="40" />
        <icon height="29" src="apple-icon/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="apple-icon/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" />
        <icon height="40" src="apple-icon/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="apple-icon/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" />
        <icon height="50" src="apple-icon/ios/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" src="apple-icon/ios/AppIcon.appiconset/Icon-Small-50x50@2x.png" width="100" />
        <icon height="72" src="apple-icon/ios/AppIcon.appiconset/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" src="apple-icon/ios/AppIcon.appiconset/Icon-App-72x72@2x.png" width="144" />
        <icon height="76" src="apple-icon/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="apple-icon/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" />
        <icon height="228" src="apple-icon/ios/AppIcon.appiconset/Icon-App-76x76@3x.png" width="228" />
        <icon height="83" src="apple-icon/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="5" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true" />
    <engine name="ios" spec="^4.5.5" />
</widget>
